
/* ==========================
   GLOBAL
========================== */

@font-face{
    font-family:'Kadisoka Hand';
    src:url('fonts/Kadisoka Hand.otf') format('opentype');
    font-weight:normal;
    font-style:normal;
}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    scroll-behavior:smooth;
}

body{
    font-family:'Inter',sans-serif;
    background:#152950;
    color:#ffffc4;
    overflow-x:hidden;
}

/* ==========================
   NAVIGATION
========================== */

.navbar{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    z-index:1000;

    display:flex;
    justify-content:space-between;
    align-items:center;

    padding:1rem 5%;

    backdrop-filter:blur(15px);

    background:rgba(0,0,0,.45);
}

.logo img{
    width:120px;
}

.navbar ul{
    display:flex;
    gap:3rem;
    list-style:none;
}

.navbar a{
    text-decoration:none;
    color:#ffffc4;

    letter-spacing:3px;
    font-size:1.7rem;
    font-family:'Kadisoka Hand';
    transition:.3s;
}

.navbar a:hover{
    opacity:.5;
    color: crimson;
}

/* ==========================
   HERO
========================== */

#hero{
    position:relative;

    height:100vh;

    display:flex;
    justify-content:center;
    align-items:center;

    overflow:hidden;

    background-image:
    linear-gradient(
        rgba(0, 0, 0, 0.693),
        rgba(0, 0, 0, 0.677)
    ),
    url("imgs/2230DF83-2634-4E6D-B232-DC709D2BEB95.png");

    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
}

.hero-content{
    position:relative;
    z-index:2;

    text-align:center;
    width:70%;
}

.hero-logo{
    width:400px;
    max-width:90%;
}

.hero-content h2{
    margin-top:2rem;

    font-size:.8rem;

    letter-spacing:10px;
}

.hero-content h1{
    
    font-family:'Kadisoka Hand', cursive;

    font-weight:normal;

    font-size:7rem;

    margin-top:1rem;

    letter-spacing:6px;

}

.hero-content p{
    width:600px;
    max-width:100%;

    margin:2rem auto;

    line-height:1.8;
    opacity: 0.9;
}

/* ==========================
   BUTTONS
========================== */

.hero-buttons{
    display:flex;
    justify-content:center;
    gap:1rem;
    font-family:'Kadisoka Hand', cursive;
    font-size: x-large;
    font-weight:normal;
}

.btn-primary,
.btn-secondary{

    text-decoration:none;

    padding:1.25rem 3rem;

    letter-spacing:3px;

    transition:.3s;
}

.btn-primary{

    background:#ffffc4;
    color:#152950;
}

.btn-secondary{

    background:#ffffc4;
    color:#152950;
}

.btn-primary:hover{
    background: rgba(136, 4, 4, 0.808);
    color:#ffffc4;
     transform:translateY(-4px);
}

.btn-secondary:hover{
    background: rgba(136, 4, 4, 0.808);
    color:#ffffc4;
     transform:translateY(-4px);
}

/* ==========================
   SCROLL
========================== */

.scroll-indicator{
    position:absolute;

    bottom:40px;
    left:50%;

    transform:translateX(-50%);

    letter-spacing:5px;
    font-size:.7rem;

    animation:bounce 2s infinite;
}

@keyframes bounce{

    0%,100%{
        transform:translateX(-50%) translateY(0);
    }

    50%{
        transform:translateX(-50%) translateY(-10px);
    }
}

/* ==========================
   MERCH
========================== */

#merch{

    background:#ffffc4;
    color:#000;

    min-height:100vh;

    padding:10rem 8%;
}

.section-title h2{

    font-family:'Kadisoka Hand', cursive;

    font-weight:normal;
    font-size:10rem;
    line-height:1;

    margin-bottom:6rem;
}

.merch-grid{

    display:grid;

    grid-template-columns:
    repeat(3,1fr);

    gap:3rem;
}

.merch-card{

    transition:.4s;

    cursor:pointer;
}

.merch-card:hover{

    transform:
    translateY(-20px)
    rotate(-2deg);
}

.merch-card img{

    width:100%;
    display:block;
}

.merch-card h3{

    margin-top:1.5rem;

    font-size:2rem;

    letter-spacing:5px;
}

.merch-card p{

    margin-top:1rem;

    opacity:.7;
}

/* ==========================
   MUSIC
========================== */

#music{

    min-height:100vh;

    color:#ffffc4;

    display:grid;

    grid-template-columns:
    1fr 1fr;

    padding:10rem 8%;

    position:relative;

    background-image:
    linear-gradient(
        rgba(0,0,0,.82),
        rgba(0,0,0,.82)
    ),
    url("imgs/NoMiss.png");

    background-size:cover;

    background-position:center;

    background-repeat:no-repeat;
}

.music-left h1{

    font-family:'Kadisoka Hand', cursive;

    font-weight:normal;

    font-size:8rem;

    margin-top:.4rem;

    letter-spacing:4px;

}

.tracklist{

    margin-top:3rem;

    line-height:2.5;

    list-style-position: inside;

    padding-left:0;

    margin-left:0;
}

.tracklist li{

    font-size:1.2rem;
    

    border-bottom:
    1px solid rgba(255,255,196,.1);

}
 /* ==========================
  ^^^^^^^^^ font-size:1.4rem;
    font-family:'Kadisoka Hand', cursive;

    font-weight:normal
    
========================== */

.music-right{

    display:flex;

    flex-direction:column;

    justify-content:center;

    align-items:center;

    text-align:center;
}

blockquote{

     font-family:'Kadisoka Hand', cursive;

    font-weight: 500;
    font-size:4.5rem;

    line-height:1.2;

    max-width:500px;
    font-display: center;

    margin-bottom:3rem;

    transform:rotate(-1deg);
}

.player-placeholder{

    border:
    1px solid rgba(255,255,196,.2);

    padding:3rem;

    width:500px;
}

.player-placeholder h3{

    letter-spacing:5px;
}

.player-placeholder p{

    margin-top:1rem;
    opacity:.7;
}

/* ==========================
   FOOTER
========================== */

footer{

    background:#000;

    color:#ffffc4;

    text-align:center;

    padding:4rem 2rem;

    border-top:
    1px solid rgba(255,255,196,.1);
}

footer img{

    width:120px;

    margin-bottom:2rem;
}

footer p{

    margin:.5rem 0;

    opacity:.7;
}

/* ==========================
   MOBILE
========================== */

@media(max-width:900px){

    .hero-content h1{
        font-size:5rem;
    }

    .music-left h1{
        font-size:5rem;
    }

    .section-title h2{
        font-size:5rem;
    }

    #music{

        grid-template-columns:1fr;
        gap:4rem;
    }

    blockquote{

        font-size:2.5rem;
    }

    .merch-grid{

        grid-template-columns:1fr;
    }

    .hero-buttons{

        flex-direction:column;
    }
}

